<div class="container">
  <div class="row">
      <div class="col-sm-3">
          <div class="media text-muted pt-1"><!--/* pt-3 отступ сверху */-->
            <i class="fa fa-phone menu-item-icon" aria-hidden="true"></i>
            <div class="media-body pb-1 mb-0 small lh-125">
              <span class="small">  Оптовый склад в Москве</span>
              <footer class="text-primary"><strong><em>+7(499) 126 84 69</em></strong></footer>
            </div>                           
          </div>
      </div>      
      <div class="col-sm-3">
        <div class="media text-muted pt-1">
          <div class="media-body pb-1 mb-0 small lh-125">
            <span class="small">Отдел сбыта в Москве</span>
            <footer class="text-primary"><strong><em>+7(495) 974 90 28</em></strong></footer>
          </div>          
        </div>        
      </div>
      <div class="col-sm-4">
        <div class="media text-muted pt-2">
          <div class="media-body pb-1 mb-0 lh-125">
            <a class="text-center" href="#">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span class="align-text-top"></span> Корзина: <small class="">Вы еще ничего не заказывали</small>
            </a>
          </div>
        </div>        
      </div>
      <div class="col-sm-2">
        <div class="media text-muted pt-2">
          <div class="media-body pb-1">
            <a class="text-center" href="#"><i class="fa fa-user-o" aria-hidden="true">&nbsp;</i> <abbr title="Войти:" class="attribute">Войти:</abbr></a>
          </div>
        </div>        
      </div>          
  </div>     
</div>