<app-header></app-header>
<app-logo></app-logo>
<app-topmenu></app-topmenu>
<app-slider></app-slider>
<app-partner></app-partner>
<app-advantages></app-advantages>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id=app></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <app-catalog></app-catalog>
    </div>
    <div class="col-md-10">
      <app-products></app-products>
    </div>
  </div>
</div>
<!--<div class="alert alert-warning alert-dismissible fade hide" role="alert">
      <strong>Holy guacamole!</strong> You should check in on some of those fields below.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>-->
