<div id="products" class="row">
  <div class="col-md-12">
    <h2>ТОП ПРОДАЖ</h2>
  </div>
  <div class="col-md-12 products-category">
    <span>Топ продаж (125)</span>
    <span>Новинки (125)</span>
    <span>Акции (125)</span>
  </div>
  <div class="col-md-12 product-cards">
    <div class="row">
      <div *ngFor="let product of products" class="card col-md-3">
        <div class="text-center">
          <img class="img-fluid" src="/assets/img/product-1.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <p class="card-text">{{product.code}} {{product.name}}</p>
          <h5 class="card-title">{{product.price}} р.</h5>
          <a href="#" class="btn btn-danger btn-sm">Купить</a>
          <a href="#" class="in-basket">В корзину</a>
        </div>
      </div>
    </div>
  </div>
</div>
