<div id="products" class="row">
  <div class="col-md-12">
    <h2>ТОП ПРОДАЖ</h2>
  </div>
  <div class="col-md-12 products-category">
    <span>Топ продаж (125)</span>
    <span>Новинки (125)</span>
    <span>Акции (125)</span>
  </div>
  <div class="col-md-12 product-cards">
    <div class="row">
      <div class="card col-md-3">
        <div class="text-center">
          <img class="img-fluid" src="/assets/img/product-1.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <p class="card-text">КЕ01-03 ПЛАТОК100%ШЕЛК</p>
          <h5 class="card-title">1000 р.</h5>
          <a href="#" class="btn btn-danger btn-sm">Купить</a>
          <a href="#" class="in-basket">В корзину</a>
        </div>
      </div>
      <div class="card col-md-3">
        <div class="text-center">
          <img class="img-fluid" src="/assets/img/product-2.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <p class="card-text">КЕ01-03 ПЛАТОК100%ШЕЛК</p>
          <h5 class="card-title">2500 р.</h5>
          <a href="#" class="btn btn-danger btn-sm">Купить</a>
          <a href="#" class="in-basket">В корзину</a>
        </div>
      </div>
      <div class="card col-md-3">
        <div class="text-center">
          <img class="img-fluid" src="/assets/img/product-3.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <p class="card-text">КЕ01-03 ПЛАТОК100%ШЕЛК</p>
          <h5 class="card-title">850 р.</h5>
          <a href="#" class="btn btn-danger btn-sm">Купить</a>
          <a href="#" class="in-basket">В корзину</a>
        </div>
      </div>
      <div class="card col-md-3">
        <div class="text-center">
          <img class="img-fluid" src="/assets/img/product-4.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <p class="card-text">КЕ01-03 ПЛАТОК100%ШЕЛК</p>
          <h5 class="card-title">2500 р.</h5>
          <a href="#" class="btn btn-danger btn-sm">Купить</a>
          <a href="#" class="in-basket">В корзину</a>
        </div>
      </div>
      <div class="card col-md-3">
        <div class="text-center">
          <img class="img-fluid" src="/assets/img/product-5.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <p class="card-text">КЕ01-03 ПЛАТОК100%ШЕЛК</p>
          <h5 class="card-title">1550 р.</h5>
          <a href="#" class="btn btn-danger btn-sm">Купить</a>
          <a href="#" class="in-basket">В корзину</a>
        </div>
      </div>
      <div class="card col-md-3">
          <div class="text-center">
            <img class="img-fluid" src="/assets/img/product-6.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-text">КЕ01-03 ПЛАТОК100%ШЕЛК</p>
            <h5 class="card-title">1550 р.</h5>
            <a href="#" class="btn btn-danger btn-sm">Купить</a>
            <a href="#" class="in-basket">В корзину</a>
          </div>
        </div>
        <div class="card col-md-3">
            <div class="text-center">
              <img class="img-fluid" src="/assets/img/product-7.png" alt="Card image cap">
            </div>
            <div class="card-body">
              <p class="card-text">КЕ01-03 ПЛАТОК100%ШЕЛК</p>
              <h5 class="card-title">1550 р.</h5>
              <a href="#" class="btn btn-danger btn-sm">Купить</a>
              <a href="#" class="in-basket">В корзину</a>
            </div>
          </div>
          <div class="card col-md-3">
              <div class="text-center">
                <img class="img-fluid" src="/assets/img/product-8.png" alt="Card image cap">
              </div>
              <div class="card-body">
                <p class="card-text">КЕ01-03 ПЛАТОК100%ШЕЛК</p>
                <h5 class="card-title">1550 р.</h5>
                <a href="#" class="btn btn-danger btn-sm">Купить</a>
                <a href="#" class="in-basket">В корзину</a>
              </div>
            </div>
    </div>
  </div>
</div>