<div id="catalog" class="row">
    <div class="col-md-12 search">
        <span><i class="fa fa-search" aria-hidden="true"></i><strong> Поиск</strong></span>
    </div>
    <div class="col-md-12">
        <h2>Каталог</h2>
    </div>
    <div *ngFor="let category of catalog" class="col-md-12">
      <span class="catalog-section-title"><strong>{{category.parent.name}}</strong></span>
      <div class="col-md-12">
        <ul *ngFor="let subCategory of category.children" class="nav flex-column flex-nowrap">
          <li class="nav-item"><a class="nav-link" href="#">{{subCategory.category.name}} ({{subCategory.products.length}})</a></li>
        </ul>
      </div>
    </div>
</div>
  <!--<li class="nav-item">
    <a class="nav-link collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Аксессуары ( 912 )</a>
    <div class="collapse" id="submenu1" aria-expanded="false">
        <ul class="flex-column pl-2 nav">
            <li class="nav-item"><a class="nav-link py-0" href="#"> Сумки (125)</a></li>
            <li class="nav-item"><a class="nav-link p-1" href="#"> Кошельки (123)</a></li>
            <li class="nav-item"><a class="nav-link p-1" href="#">Портмоне (60)</a></li>
            <li class="nav-item"><a class="nav-link p-1" href="#">Косметички (75)</a></li>
            <li class="nav-item"><a class="nav-link p-1" href="#">Обложки для документов (32)</a></li>
            <li class="nav-item"><a class="nav-link p-1" href="#">Вицитницы (100)</a></li>
            <li class="nav-item"><a class="nav-link p-1" href="#">Ремни (99)</a></li>
            <li class="nav-item"><a class="nav-link p-1" href="#">Ключницы (120)</a></li>
        </ul>
    </div>
  </li>-->
