<div id="catalog" class="row">
    <div class="col-md-12 search">
        <span><i class="fa fa-search" aria-hidden="true"></i><strong> Поиск</strong></span>
    </div>
    <div class="col-md-12">
        <h2>Каталог</h2>
    </div>
    <div class="col-md-12">
        <span class="catalog-section-title"><strong>Женская коллекция</strong></span>
    </div>
    <div class="col-md-12">
        <ul class="nav flex-column flex-nowrap">
            <li class="nav-item"><a class="nav-link" href="#">Сумки (125)</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Перчатки (108)</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Платки (362)</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Головные уборы (237)</a></li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Аксессуары ( 912 )</a>
                <div class="collapse" id="submenu1" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item"><a class="nav-link py-0" href="#"> Сумки (125)</a></li>
                        <li class="nav-item"><a class="nav-link p-1" href="#"> Кошельки (123)</a></li>
                        <li class="nav-item"><a class="nav-link p-1" href="#">Портмоне (60)</a></li>
                        <li class="nav-item"><a class="nav-link p-1" href="#">Косметички (75)</a></li>
                        <li class="nav-item"><a class="nav-link p-1" href="#">Обложки для документов (32)</a></li>
                        <li class="nav-item"><a class="nav-link p-1" href="#">Вицитницы (100)</a></li>
                        <li class="nav-item"><a class="nav-link p-1" href="#">Ремни (99)</a></li>
                        <li class="nav-item"><a class="nav-link p-1" href="#">Ключницы (120)</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <span class="catalog-section-title"><strong>Мужская коллекция</strong></span>
    </div>
    <div class="col-md-12">
        <ul class="nav flex-column flex-nowrap">
            <li class="nav-item"><a class="nav-link" href="#">Шарфы (140)</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Сумки (212)</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Перчатки (324)</a></li>
        </ul>
    </div>
</div>