<div class="container">
  <div id="advantages" class="row">
    <div class="col-md-2">
      <p><i class="fa fa-star fa-1" aria-hidden="true"></i><strong> Качество</strong></p>
      <small class="">Мы гарантируем качество и узнаваемость бренда. Все продукты проходят тщательный контроль.</small>
    </div>
    <div class="col-md-2">
      <p><i class="fa fa-handshake-o" aria-hidden="true"></i><strong> Условия</strong></p>
      <small class="">Мы предоставляем прозрачные условия сотрудничества. Каждый клиент останется доволен.</small>
    </div>
    <div class="col-md-2">
      <p><i class="fa fa-bus" aria-hidden="true"></i><strong> Доставка</strong></p>
      <small class="">Му осуществляем бесплатную доставку по Москве и области. Всегда точно в срок.</small>
    </div>
    <div class="col-md-2">
      <p><i class="fa fa-question-circle" aria-hidden="true"></i><strong> Консультации</strong></p>
      <small class="">Мы проводим бесплатные консультации по любым вопросам сотрудничества.</small>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary">Заказать звонок</button>
    </div>
  </div>
</div>