<div id="top-menu" class="container-fluid">
  <div class="container pt-2 pb-2">
    <div class="row">
      <div class="col-md-2">
        <a class="" href="#">КОМПАНИЯ</a>
      </div>
      <div class="col-md-2">
        <a class="" href="#">МАГАЗИН</a>
      </div>
      <div class="col-md-1">
        <a class="" href="#">БРЕНДЫ</a>
      </div>
      <div class="col-md-3">
        <a class="" href="#">СООТРУДНИЧЕСТВО</a>
      </div>
      <div class="col-md-2">
        <a class="" href="#">НОВОСТИ</a>
      </div>
      <div class="col-md-2">
        <a class="" href="#">КОНТАКТЫ</a>
      </div>
    </div>
  </div>
</div>